.env
outputs/
outputs/**
logs/
logs/**
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/
models/
models/**
stable-diffusion-webui_Warcklian/models/**
**/ultralytics/**
.github_repo_token
sistema_genetico/data/*.csv
.swp
.DS_Store
.idea/
.vscode/

stable-diffusion-webui_Warcklian/
outputs/
models/stablediffusion/*.safetensors
